body {
	font-family: 'Montserrat', sans-serif;
}

.header-page {
	background-color: #1ABC9C;
    color: var(--bs-white);
}

.color_white {
    color: var(--bs-white);
    border-color: var(--bs-white);
}

.color_white:hover {
    color: #1ABC9C;
}

.nav_top {
	background-color: #2c3e50;
    color: var(--bs-white);
}

.img-profile {
	display: inline-block;
	height: 100px;
	background-color: white;
}

.bl_card {
	border-radius: 2rem;
	overflow: hidden;
}

.about {
	background-color: #1ABC9C;
}

.btn-send {
	background-color: greenyellow;
}


