body {
	font-family: 'Montserrat', sans-serif;
    margin-top: 56px;
}

    /* header */

.header-page {
	background-color: #1ABC9C;
    color: var(--bs-white);
}

.color_white {
    color: var(--bs-white);
    border-color: var(--bs-white);
}

.color_white:hover {
    color: #1ABC9C;
}

.nav_top {
	background-color: #2c3e50;
    color: var(--bs-white);
}

.img-profile {
	display: inline-block;
	height: 100px;
	background-color: white;
}

    /* main */

.portfolio {
    color: #2c3e50;
}

.line_star {
    width: 40%;
    height: .3rem;
    background-color: #2c3e50;
    border-radius: 2rem;
}

.bl_card {
	border-radius: 2rem;
	overflow: hidden;
}

.img-overlay {
    display: none;
    font-size: 8rem;
    color: white;
    position: absolute;
}

.overlay-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

 .overlay-container:hover .img-over{
    opacity: .5;
}

.overlay-container:hover .img-overlay {
    background-color: rgba(26,188,156,.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.about {
	background-color: #1ABC9C;
}

.about .line_star {
    width: 40%;
    height: .3rem;
    background-color: var(--bs-white);
    border-radius: 2rem;
}

.border_fix {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2c3e50;
}

.form-control:focus {
    box-shadow: none;
}

.btn-send {
	background-color: #1abc9c;
}

    /* footer */

.info-area {
    background-color: #3a546d;
    color: white;
}

.icon_footer {
    border: 1px solid var(--bs-white);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 1rem;
    overflow: hidden;
}

.green-text {
    color: #1abc9c;
}

.copyright {
    background-color: #2c3e50;
    color: white;
}